*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-color: #FFF;
  --accent-color: #FB4B4D;
  --secondary-color: #000;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
} 

.page {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: auto;
  padding-inline-start: 22px;
  padding-inline-end: 22px;
  color: #fff;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background-color: var(--main-color);
  min-inline-size: 1440px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

