@import url("./__top/content-two-columns__top");

.content-two-columns {
  display: grid;
  min-inline-size: 100%;
  min-block-size: 696px;
  grid-template-columns: 1fr 1fr;
  background-color: blueviolet;
  list-style: none;
}