.header {
  background-color: transparent;
  width: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  padding-block-start: 30px;
  padding-block-end: 30px;
  padding-inline-start: 22px;
  grid-template-columns: repeat(7, minmax(min-content, 1fr));

}

.header__menu-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  padding-block-start: 15px;
  padding-inline: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 1000px;
  background-color: grey;
}

.header__menu-list-item {
  padding-inline: 65px;
}

.header__button-item {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 0.5px;
  text-align: left;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  background: transparent;
  padding-block: 15px;
  padding-inline: 46px;
  border: none;
  background-color: transparent;
}

.header__button-item-story {
  margin-inline-start: 50px;
}

.header__button-item-shop {
  margin-inline-start: 45px;
}

.header__button-item-wholesale {
  margin-inline-start: 15px;
}

.header__button-item-contact {
  margin-inline-start: 30px;
}

.header__button {
  background-color: #444;
  padding: 20px;
  text-align: center;
  display: grid;
  justify-content: center;
}

.header__button-item-clone {
  margin-inline-start: 30px;
}

.header__button-accent {
  display: grid;
}

.header__button-transparent-wrapper {

}

.button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  text-wrap: nowrap;
  max-block-size: 52px;
}

.button_accent {
  background-color: var(--accent-color);
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0px;
  margin-inline-start: 60px;
}
.header__logo-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  padding-inline-end: 35px;
  margin-block-start: 0px;
}

