.top-content {
  inline-size: 100%;
  min-block-size: 989px;
}

.top-content__columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: blue;
  /* column-gap: 40px; */
}

.top-conent__columns-left {

}
.conent__columns-ticker {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.top-conent__columns-right {

}

.top-conent__columns-right-list {
  display: grid;
  grid-template-rows: 1.08fr 3fr;
}

.top-conent__columns-left-list {
  display: grid;
  grid-template-rows: 5fr 1fr 5fr;
}

.conent__columns-tagline {

}

/* .conent__columns-image-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.conent__columns-image-item {
  background-position: center;
  display: block;
  margin: auto;
} */
